@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 28 10% 5%;
    --foreground: 28 0% 90%;
    --card: 28 0% 0%;
    --card-foreground: 28 0% 90%;
    --popover: 28 10% 5%;
    --popover-foreground: 28 0% 90%;
    --primary: 28 72.4% 51.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -10 10% 15%;
    --muted-foreground: 28 0% 60%;
    --accent: -10 10% 15%;
    --accent-foreground: 28 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 28 0% 90%;
    --border: 28 20% 18%;
    --input: 28 20% 18%;
    --ring: 28 72.4% 51.8%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
